---
title: The Wedding
---

<header id="home" class="page-header wow animate-fade-in">
  <div class="header-content">
    <h1 class="header-title wow animate-fade-down" data-wow-delay="300ms">Liam and Gemma</h1>
    <time class="header-date datetime wow animate-fade-down" data-wow-delay="500ms" datetime="2015-04-07">4<sup>th</sup> July 2015</time>
  </div>
</header>

<main class="page-main">
  <article class="box copy constrain-copy">
    <p>
      Welcome back to the website of Liam and now Gemma Walsh! As you know the Wedding day has come and gone, we had such a wonderful day and could not be happier right now. For those who attended, at any part of the day, we hoped you enjoyed it too.
    </p>
    <p>
      We want to say thank you so much to everyone that came and to all those sent their well wishes and support. We could not hope to be so lucky, we have such an amazing group of family and friends and we love them all with all our hearts!
    </p>
    <p>
      This website will serve for now as a rememberance of the day and give people some insights to bits they may not have seen, myself (Liam) included. We want to provide special thanks and mentions to those who made the day possible.
    </p>
    <p>
      Firstly thanks to <a href="{{ links.the-lowry }}">The Lowry</a> who provided an amazing venue with <a href="{{ links.compass-room }}">The Compass Room</a> and for the incredible food and quality of service. Secondly to <a href="{{ links.eventures }}">Eventures</a> who decorated both the church and The Lowry. They created the magical atmosphere for an extra special day. Thirdly, thanks to <a href="{{ links.kensington-wedding-cars }}">Kensington Wedding Cars</a> for providing a beautiful car for travel, excellent friendly service and for getting us where we needed to be on time.
    </p>
    <p>
      Lastly we'd like to say a big thank you to <a href="{{ links.zen }}">Zen Photographic</a> for capturing all those magical moments so that we can share and relive those memories forever. We've picked some of the best snaps from the amazing index she has provided to try and recreate the moments of the day.
    </p>
    <p>
      We hope you enjoy :D
    </p>
    </ul>
  </article>

  <article>
    <div class="box--breakout">
      <h2 class="box-title"><a class="timeline-navigation-toggle breakout-link css-target-toggle" href="#menu">Skip to the moment when...</a></h2>
    </div>

    <nav id="menu" class="timeline-navigaton">
      <ol class="navigation-list">
        {{#each timeline }}
          {{#if link }}
            <li class="navigation-item wow animate-fade-up">
              <a class="navigation-link scroll-to" href="#{{ slugify title }}">{{ link }}</a>
            </li>
          {{/if }}
        {{/each }}
      </ol>
    </nav>
  </article>

  <article id="the-story" class="timeline">
    {{#each timeline }}
      <section id="{{ slugify title }}" class="timeline-section">
        <div class="timeline-section-content copy">
          <h1 class="timeline-section-title wow animate-fade-up">{{ title }}</h1>
          <p class="wow animate-fade-up" data-wow-delay="100ms">
            {{ copy }}
          </p>
        </div>
        <aside class="timeline-section-aside mosiac {{ arrangement }}">
          {{#each images }}
            <div class="mosiac-tile">
              <a class="mosiac-image magnific-gallery-image wow animate-fade-in" data-bg="{{ ../../timelineImagesDir.tiny }}{{ this }}" data-wow-delay="{{ add (multiply @index 100) 200 }}ms" href="{{ ../../timelineImagesDir.large }}{{ this }}">
                <noscript><img class="mosiac-image--no-js" src="{{ ../../timelineImagesDir.tiny }}{{ this }}" alt="{{ this }}" /></noscript>
              </a>
            </div>
          {{/each }}
        </aside>
      </section>
    {{/each }}
  </article>
</main>

<footer id="the-countdown" class="page-footer box">
  <div class="footer-content constrain-copy">
    <div class="copy wow animate-fade-down">
      <h2>A final thank you to all who came. You were there when we began a new chapter in our lives! We hope you all feature in the rest of our life story.</h2>
    </div>
    <div class="konami-code mfp-hide white-popup">
      <h2>We've been married...</h2>
      <div id="marriage-timer"></div>
    </div>
  </div>
</footer>
