---
title: The Wedding
---

<header id="home" class="page-header wow animate-fade-in">
  <div class="header-content">
    <h1 class="header-title wow animate-fade-down" data-wow-delay="300ms">Liam and Gemma</h1>
    <time class="header-date datetime wow animate-fade-down" data-wow-delay="500ms" datetime="2015-04-07">4<sup>th</sup> July 2015</time>
  </div>
</header>

<main class="page-main">
  <article class="box copy constrain-copy">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </article>

  <article>
    <div class="box--breakout">
      <h2 class="box-title"><a class="timeline-navigation-toggle breakout-link css-target-toggle" href="#menu">Skip to the moment when...</a></h2>
    </div>

    <nav id="menu" class="timeline-navigaton">
      <ol class="navigation-list">
        {{#each timeline }}
          {{#if link }}
            <li class="navigation-item wow animate-fade-up">
              <a class="navigation-link scroll-to" href="#{{ slugify title }}">{{ link }}</a>
            </li>
          {{/if }}
        {{/each }}
      </ol>
    </nav>
  </article>

  <article id="the-story" class="timeline">
    {{#each timeline }}
      <section id="{{ slugify title }}" class="timeline-section">
        <div class="timeline-section-content copy">
          <h1 class="timeline-section-title wow animate-fade-up">{{ title }}</h1>
          <p class="wow animate-fade-up" data-wow-delay="100ms">
            {{ copy }}
          </p>
        </div>
        <aside class="timeline-section-aside mosiac {{ arrangement }}">
          {{#each images }}
            <div class="mosiac-tile">
              <a class="mosiac-image magnific-gallery-image wow animate-fade-in" data-bg="{{ ../../timelineImagesDir.tiny }}{{ this }}" data-wow-delay="{{ add (multiply @index 100) 200 }}ms" href="{{ ../../timelineImagesDir.large }}{{ this }}"></a>
            </div>
          {{/each }}
        </aside>
      </section>
    {{/each }}
  </article>
</main>

<footer id="the-countdown" class="page-footer box">
  <div class="footer-content constrain-copy">
    <div class="copy wow animate-fade-down">
      <h2>A final thank you to all who came. You were there when we began a new chapter in our lives! Hopefully we'll see you whilst our story continues!</h2>
    </div>
    <div class="konami-code mfp-hide white-popup">
      <h2>We've been married...</h2>
      <div id="marriage-timer"></div>
    </div>
  </div>
</footer>
